extends layout

block content
    .jumbotron.jumbotron-fluid
        .container
            h1.display-4 The Best Shop
            p.lead With the best products
    .container(style="flex: 1; padding: 50px 0;")  
       h1.title.is-3 Sales
       .columns.is-multiline
           each product in sales
               .column.is-one-quarter
                   .card
                      .card-image
                          figure.image(style="height: 190px")
                              img(src= product.img style="height: 100%; object-fit: cover")
                   .card-content
                       h4.title= product.name
                       button(id = product.id).button.is-fullwidth.is-primary
                          span.icon
                              i.fas.fa-shopping-cart
                          span Add Cart 
                              strong= ` ${product.price} USD`
    .container(style="flex: 1; padding: 50px 0;")  
       h1.title.is-3 New Products
       .columns.is-multiline
           each product in newProducts
               .column.is-one-quarter
                   .card
                      .card-image
                          figure.image(style="height: 190px")
                              img(src=product.img style="height: 100%; object-fit: cover")
                   .card-content
                       h4.title= product.name
                       button(id = product.id).button.is-fullwidth.is-primary
                          span.icon
                              i.fas.fa-shopping-cart
                          span Add Cart
                              strong= ` ${product.price} USD`
//- block scripts



