extends layout
block content
  each product 
    .container(style="flex: 1; padding: 50px 0;")
         h1.title.is-3 #{name}
        .columns.is-multiline
            each product in #{name}
               h1.title.is-3 Sales
                .column.is-one-quarter
                    .card
                        .card-image
                            figure.image(style="height: 190px")
                                img(src=product.image style="height: 100%; object-fit: cover")
                        .card-content
                            h1.title= product.name
                            .button.is-fullwidth.is-primary
                                span.icon
                                    i.fas.fa-shopping-cart
                                span Add Cart
                                    strong= `${product.price} USD`